*backup
*~
*.toc
*.log
*.out
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz

__pycache__
*.pyc

docs/dissertation/main.pdf

jax/solvers/thermostatic/data

ng0.html
ng0.trace

docs/aref/aref.pdf
docs/demo/presentation.nav
docs/demo/presentation.snm
docs/demo/presentation.pdf
